body {
  background: radial-gradient(rgb(147, 230, 241) 30%, rgb(145, 192, 241) 90%);
}

a {
  text-decoration: none;
  color: black;
}
.container {
  padding-bottom: 200px;
  min-width: max-content;
}

.city-search,
.location-button,
.city-name,
.temperature,
.weather-today,
.weather-info-column,
.weather-forecast-day,
.weather-forecast-temperatures,
.footnote {
  font-family: "PT Serif", serif;
  line-height: 1.8;
}

.city-search,
.location-button {
  padding: 40px 0 15px 50px;
  margin-left: -50px;
}
.btn,
.form-control {
  background-color: #fff solid;
  border: 0.5px solid grey;
}

.card {
  padding: 0 5px 5px 5px;
  border: 0.5px solid grey;
  max-width: 100%;
  margin: 0 auto;
  word-wrap: normal;
}
.city-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

#icon-head {
  font-size: 51px;
  margin-left: -4px;
}

.temperature {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 15px;
}

.active {
  color: rgb(145, 192, 241);
  cursor: default;
}

.weather-today {
  font-weight: bold;
  font-size: 17px;
}

.time {
  font-size: 20px;
}
.date {
  padding-top: 12px;
  padding-bottom: 23px;
  font-size: 20px;
}

.more-weather {
  font-size: 17px;
}

.five-day-weather {
  text-align: center;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 100%;
}

.five-day-icons {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(147, 230, 241) 0%,
    rgb(145, 192, 241) 45.5%
  );
  border: 0.5px dotted;
  border-radius: 50%;
  padding: 5px 5px;
  margin-bottom: 8px;
}
.weather-forecast-day {
  font-size: 17px;
  text-align: center;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
.weather-forecast-min-temp {
  opacity: 0.7;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
}
a:hover {
  color: rgb(145, 192, 241);
}
#github-link:hover,
#linkedin-link:hover {
  color: #fff;
}

.weather-today::first-letter {
  text-transform: capitalize;
}
