body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(147, 230, 241) 0%,
    rgb(145, 192, 241) 45.5%
  );
}

a {
  text-decoration: none;
  color: black;
}
.container {
  padding-bottom: 200px;
}

.city-search,
.location-button,
.city-name,
.temperature,
.weather-today,
.weather-info-column,
.day-1,
.day-1-temperature {
  font-family: "PT Serif", serif;
  line-height: 1.8;
}

.city-search,
.location-button {
  padding: 40px 0 15px 50px;
  margin-left: -50px;
}
.btn,
.form-control {
  background-color: #fff solid;
  border: 0.5px solid grey;
}

.card {
  padding: 0 5px 5px 5px;
  border: 0.5px solid grey;
  max-width: 100%;
  margin: auto;
}
.city-name {
  font-weight: bold;
  font-size: 20px;
}
.temperature {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}
.weather-today {
  font-weight: bold;
}

.date {
  padding-bottom: 7px;
}
.cloud-rain-emoji-head {
  font-size: 51px;
  margin-left: -4px;
}
.five-day-weather {
  text-align: center;
  padding-left: 80px;
}
.cloud-rain-emoji,
.cloud-sun-rain-emoji {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(147, 230, 241) 0%,
    rgb(145, 192, 241) 45.5%
  );
  font-size: 40px;
  border: 0.5px dotted;
  border-radius: 50%;
  padding: 10px 10px;
}
.day-1 {
  margin-top: 10px;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
}
a:hover {
  color: rgb(145, 192, 241);
}
